<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>922157731360-vh03r31fjn77kfaq1nmgutlgqnei65pd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922157731360-vh03r31fjn77kfaq1nmgutlgqnei65pd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>922157731360-kiq274bunfbel6sh3qf8l3ed8kh0bkmo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCPUtssZy1PVwRKIxXNmfeJeOzXjJfvdhU</string>
	<key>GCM_SENDER_ID</key>
	<string>922157731360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.remade.akademik</string>
	<key>PROJECT_ID</key>
	<string>akadem-77fc3</string>
	<key>STORAGE_BUCKET</key>
	<string>akadem-77fc3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922157731360:ios:28b34ad2bb888e9a787645</string>
</dict>
</plist>